:root {
  /* Light theme colors */
  --background-color: #f9f9f9;
  --text-color: #333;
  --accent-color: #666;
  --card-background: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: #ddd;
  --secondary-text-color: #666;
}

.dark-mode {
  /* Dark theme colors */
  --background-color: #333;
  --text-color: #f1f1f1;
  --accent-color: #999;
  --card-background: #444;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --border-color: #555;
  --secondary-text-color: #dfdfdf;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}

.home {
  text-align: center;
  margin: 40px 0;
}

.home h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: bold;
  letter-spacing: 1px;
}


.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  max-width: 1350px;
  margin: 0 auto;
}


.recipe-card {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  box-shadow: 0px 4px 6px var(--shadow-color);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--card-background);
  max-width: 450px;
  width: 100%;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}

.recipe-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px var(--shadow-color);
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-card p {
  font-size: 1.4rem;
  font-weight: normal;
}



.recipe-details {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: var(--card-background);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.recipe-details h1 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.recipe-details img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-details h2 {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  margin-top: 20px;
}

.recipe-details ul {
  list-style-type: disc;
  margin: 10px 0 20px 20px;
}

.recipe-details li {
  margin-bottom: 10px;
}

.recipe-details p {
  line-height: 1.6;
  margin: 10px 0;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 20px;
  padding: 8px 12px;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.back-button .icon {
  font-size: 0.9rem;
}

.back-button:hover {
  color: var(--text-color);
  transform: scale(1.05);
}


/* Keyframe for spinning animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-container {
  position: relative;
  height: 30px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  background-color: var(--card-background);
  border-radius: 20px;
  padding: 8px 15px;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.search-input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
  padding: 0 10px;
  color: var(--text-color);
}

.search-icon {
  color: #777;
  font-size: 1.5rem;
}

/* Add the spinning effect when the input is focused */
.search-icon.spin {
  animation: spin 0.3s ease-in-out;
}

.clear-icon {
  color: #888;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.2s ease;
  padding-right: 10px;
}

.clear-icon:hover {
  color: #555;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.toggle-icon {
  color: #fff;
  font-size: 1em;
  transition: transform 0.2s ease-in-out;
}

.sun {
  color: #f8d32d;
  filter: drop-shadow(0 0 1px #f8d32d);
}

.moon {
  color: #a0c4ff;
  filter: drop-shadow(0 0 1px #a0c4ff);
}

.dark-mode-toggle {
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;
}

.react-switch-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}



@media (min-width: 768px) {
  .recipe-details {
    flex-direction: row;
    justify-content: center;
  }
}

/* Spacing and padding for mobile views */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .recipe-list {
    grid-template-columns: 1fr;
    padding: 15px;
    gap: 15px;
  }

  .title-bar {
    padding: 5px 10px;
  }

  .title-bar h1 {
    font-size: 1.5rem;
    padding-top: 10px;
  }

  .back-button {
    font-size: 1rem;
    padding: 6px 10px;
  }
  .back-button .icon {
    font-size: 0.6rem;
  }
}
